#heading {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

html {
    font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white
}

strong {
  color: blue;
}

#bg-green {
  background-color: mediumspringgreen;
}

#bg-red {
  background-color: lightcoral;
}

#bg-blue {
  background-color: skyblue;
}
